.paddingall{
    display: block;
    padding: 10px 10px 10px 10px
}
.priceTitle{
    font-weight: 600;
    display: block;
}
.priceSubTitle{
    font-size: 14px;
}
.iconstyle{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}
.gradientcolor{
    background: linear-gradient(158deg, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    color: white;
    display: block;
}
.gradientcolorLight{
    background: rgb(63, 94, 251);
    background: linear-gradient(158deg, rgba(63, 94, 251, 1), rgba(252, 70, 107, 1) 100%);
    color: white;
}


.bgColor{
    min-height: 100vh;
    background: #ECEFF1;
    background: linear-gradient(158deg, rgba(224, 224, 224) 0%, rgba(233, 237, 254)100%);
}